/*body {margin:0;}*/

/* Universal box-sizing */
* { box-sizing: border-box; }

/* Set height of body and html to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style for tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Hover effect for tab links */
.tablink:hover {
  background-color: #777;
}

/* Style for the tab content */
.tabcontent {
  color: whitesmoke;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* Tab-specific background colors */
#Home { background-color: red; }
#About { background-color: green; }
#Contact-Me { background-color: blue; }

/*.topnav {
  overflow: hidden;
  background-color: #22a;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #335;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav-centered a {
  float: inline-start;
  position: relative;
  top: auto;
  left: 42.5%;
}*/
