*{
    padding:0;
}
.card{
    max-width: 1024px;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 5px;
}
.about-title{
    color: aqua;
    border-bottom: 2px solid aquamarine;
}
.about-job{
    color: darkcyan;
}
form label {
    display: block;
    margin-bottom: 3px;
    font-weight: 200;
}

form input,
form textarea {
    width: 98.75%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid wheat;
    margin-bottom: 10px;
    font-size: 12px;
}

form button {
    width: 100%;
    padding: 5px;
    border: none;
    background: linear-gradient(45deg, #777, #e75);
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}