* {
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    max-width: 1024px;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 5px;
}
.about-title{
    color: aqua;
    border-bottom: 2px solid aquamarine;
}
.about-job{
    color: darkcyan;
}
form label {
    display: block;
    margin-bottom: 3px;
    font-weight: 200;
}

form input, form textarea {
    width: 98%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid wheat;
    margin-bottom: 10px;
    font-size: 12px;
}

form button {
    width: 100%;
    padding: 5px;
    border: none;
    background: linear-gradient(45deg, #777, #e75);
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}
.contact{
   text-align: center; 
}
.socials a {
    padding: 3px 14px;
    border: 1px solid lightblue;
    margin-right: 6px;
    font-size: 16px;
    border-radius: 2px;
    color: #2980b9;
}
nav {
    background: lightgoldenrodyellow;
    padding: 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
footer {
    background: chocolate;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
}

header{
    position: relative;
    padding-bottom: 75px;
}

.foot-links a {
    color: darkgreen;
    gap: 40px;
    margin: 0 15px;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 240px;
    background: linear-gradient(45deg, #f14, #0f9);
}   
.pfp-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.pfp {
    width: 150px;
    height: 150px;
    background: #bbb;
    border: 1.5px dashed #333;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}