*{
    padding:0;
}
.card{
    max-width: 1024px;
    border: 2px solid black;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 5px;
}
.about-title{
    color: aqua;
    border-bottom: 2px solid aquamarine;
}
.about-job{
    color: darkcyan;
}