* {
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: #f4f4f7;
    color: #333;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    max-width: 768px;
}
.about-title{
    color: darkblue;
    border-bottom: 3.5px solid lightblue;
}
.about-job{
    color: rgb(9, 114, 206);
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid wheat;
    margin-bottom: 10px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 5px;
    border: none;
    background: linear-gradient(45deg, #777, #e75);
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.contact{
   text-align: center; 
}
.socials a {
    padding: 3px 14px;
    border: 1px solid lightblue;
    margin-right: 6px;
    font-size: 16px;
    border-radius: 2px;
    color: #2980b9;
}
nav {
    background: #2c3e50;
    padding: 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
footer {
    background: #1f3447;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
}
header{
    position: relative;
    padding-bottom: 75px;
}
.foot-links a {
    gap: 40px;
    margin: 0 15px;
    color: #d9e5f0;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 240px;
    background: linear-gradient(45deg, #f14, #0f9);
}   
.pfp-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.pfp {
    width: 150px;
    height: 150px;
    background: #bbb;
    border: 1.5px dashed #333;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    margin: 35px auto;
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero p {
    margin-top: 5px;
    font-size: 25px;
}
h4{
    font-size:20px;
}
h5{
    font-size:17px;
}
.dot-lines {
    border-bottom: 1px dotted gray;
    margin-bottom: 3px;
    margin-top: 2px;
}
ul li{
    margin-left: 20px;
    margin-bottom: 5px;
}

#burger-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav {
        justify-content: flex-start;
        width: 97.5%;
        padding: 20px 0;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        background: #1e3347;
        flex-direction: column;
        padding: 10px 0 0 10px;
        text-align: center;
    }
    #burger-toggle:checked ~ ul {
        display: flex;
    }
    .burger {
        display: flex;
    }
 }
.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.burger div {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 2px;
}
