*{
    padding:0;
}
.card{
    max-width: 1024px;
    border: 1px solid black;
    margin: 10px 0 10px 0;
}
.about-title{
    color: aqua;
    border: 2px solid aquamarine;
}
.about-job{
    color: darkcyan;
}